<!DOCTYPE html>
<html>
<head>
	<title>HISTORY PAGE</title>
</head>
<style type="text/css">
	body{
		background-color: light-gray;
	}

</style>
<body>
	
<nav class="van">
  <a onClick="toHome()" class="active">Home</a>
  <a onClick="toHistory()" class="button bar-item">History</a>
  <a onClick="toGallery()" class="button bar-item">Gallery</a>
  <a onClick="toBarsNearMe()" class="button bar-item">Bars Near Me</a>
</nav>
 
 <div>
	<img class="logo" src="logo.jpg"> 	
	<a onClick="toHome()" class="active"></a>
 </div>

<h1 class="history" >coctails history is the best!</h1>
<p class="history2">Traditionally cocktails were a mixture of spirits, sugar, water, and bitters. By the 1860s, however, a cocktail frequently included a liqueur. ... Mixed drinks popular today that conform to this original meaning of "cocktail" include the Old Fashioned whiskey cocktail, the Sazerac cocktail, and the Manhattan cocktail.</p>

</body>
</html>